{% extends 'base.html.twig' %}

{% block title %}{{ 'question'|trans({}, 'messages.question') }}{% endblock %}

{% block body %}

<div class="table-responsive mx-5 my-3">
    <h2 class="text-white">{{ 'question'|trans({}, 'messages.question') }}</h2>
    <table class="dark-table">
        <tbody>
            <tr>
                <th>{{ 'name'|trans({}, 'messages.question') }}</th>
                <td>{{ question.askerName }}</td>
            </tr>
            <tr>
                <th>{{ 'email'|trans({}, 'messages.question') }}</th>
                <td>{{ question.email }}</td>
            </tr>
            <tr>
                <th>{{ 'question'|trans({}, 'messages.question') }}</th>
                <td class="word-wrap">{{ question.question }}</td>
            </tr>
            <tr>
                <th>{{ 'answer'|trans({}, 'messages.question') }}</th>
                <td>
                    {{ question.hasAnswer
                        ? 'yes'|trans({}, 'messages.global')
                        : 'no'|trans({}, 'messages.global')
                    }}
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <a class="btn btn-secondary mx-5"
       href="{{ path('app_question_index') }}">
        {{ 'all_questions'|trans({}, 'messages.question') }}
    </a>

{% endblock %}
